.footer {
  height: 100%;
  width: 100vw;
  background: #8e2de2; // fallback for older browsers
  background: -webkit-repeating-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  z-index: -1;
  display: grid;
  place-items: center;
}

.contact-addresses {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
  color: #fff;

  h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
  }
  p {
    margin: 10px 0 10px;
  }
}
